/* index.css */

.custom-navbar {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 20px;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .dropdown-toggle,
.custom-navbar .dropdown-item {
  color: #00693E !important;  /* Dartmouth Green */
  font-size: 16px;
  font-weight: bold;
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-item:hover {
  color: #004d2c !important; /* darker green on hover */
}

.custom-navbar .navbar-brand {
  font-family: 'Times New Roman', Times, serif;
  color: #00693E; /* Dartmouth Green */
  font-size: 40px;           /* bigger font size */
  font-weight: 800;
  letter-spacing: 0.15em;    /* increase space between letters */
  text-transform: uppercase;
}

.custom-navbar .container {
  display: flex;
  justify-content: center; /* center horizontally */
  position: relative;
}

.custom-navbar .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.py-5 {
    background-color: #00693E;
}